:host mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 

  > mat-form-field {
    flex: 1;
    min-width: 200px;
  }
}

.full-width {
  width: 100%;
}

:host mat-dialog-actions {
  padding: 16px 24px;
}